html {
  font-size: 18px;
  line-height: 2;
}

body {
  font-family: "Helvetica Neue",
    Meiryo,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Arial,
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #630;
}
